<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>斐波那契.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6593F6571E09641A00698CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6593F6731E09641A00698CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6593F67E1E09641A00698CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
